@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase
<main>
    <MudLayout>
       <Appbar @bind-DrawerOpen="_drawerOpen" />
        <MudDrawer @bind-Open="_drawerOpen" Elevation="2" OverlayAutoClose="true" Variant="@DrawerVariant.Temporary">
            <MudDrawerHeader>
                <MudText Typo="Typo.h5" Class="mt-1">Mandags Spil</MudText>
            </MudDrawerHeader>
            <MudNavMenu Rounded="true" Margin="Margin.Normal" Color="Color.Tertiary" Class="pa-2">
                   <MudNavLink Href="/" 
                            Match="NavLinkMatch.All" 
                            Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
                   <MudNavLink Href="/weapon-select" 
                            Match="NavLinkMatch.Prefix  " 
                            Icon="@Icons.Material.Filled.Home">Weapon Select</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</main>

@code {
    bool _drawerOpen = false;
}